<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.edu.eduservice.mapper.EduCourseMapper">

    <!--根据课程id查询课程详细信息，涉及四张表-->
    <select id="getCourseFourTableDto" resultType="com.online.edu.eduservice.entity.dto.CourseFourTableDto">
        SELECT
         c.id,
         c.title,
         CONVERT(c.price,DECIMAL(8,2)) AS price,
         c.cover,
         cd.description,
         t.name teacherName,
         s1.title levelOne,
         s2.title levelTwo
        FROM
            edu_course c
         LEFT OUTER JOIN edu_course_description cd ON c.id = cd.id
         LEFT OUTER JOIN edu_teacher t ON c.teacher_id = t.id
         LEFT OUTER JOIN edu_subject s1 ON c.subject_parent_id = s1.id
         LEFT OUTER JOIN edu_subject s2 ON c.subject_id = s2.id
         WHERE c.id = #{courseId}
    </select>

    <!--    通过课程id查询课程详情信息，包括课程分类表，课程讲师表，课程描述表，课程表-->
    <select id="getCourseItemsAllInfo" resultType="com.online.edu.eduservice.entity.dto.CourseItemsAllDto">
        SELECT
            c.id,
            c.title,
            c.price,
            c.cover,
            c.lesson_num,
            c.buy_count,
            c.view_count,
            t.id AS teacherId,
            t.NAME AS teacherName,
            t.intro,
            t.avatar,
            cd.description,
            s1.id AS subjectLevelOneId,
            s1.title AS subjectLevelOne,
            s2.id AS subjectlevelTwoId,
            s2.title AS subjectlevelTwo
        FROM
            edu_course c
            LEFT OUTER JOIN edu_teacher t ON c.teacher_id = t.id
            LEFT OUTER JOIN edu_course_description cd ON c.id = cd.id
            LEFT OUTER JOIN edu_subject s1 ON c.subject_parent_id = s1.id
            LEFT OUTER JOIN edu_subject s2 ON c.subject_id = s2.id
        WHERE
            c.id = #{courseId}
    </select>
</mapper>
